@import './colors';

%blue-button {
  background: $blue-color;
  border: 1px solid $blue-color;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  outline: none;

  &:hover,
  &:active {
    background: white;
    color: $blue-color;
  }
}

%basic-button {
  background: none;
  border: 1px solid $gray-color;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  cursor: pointer;
  height: 30px;

  &:hover,
  &:active,
  &:focus {
    border: 1px solid lighten($blue-color, 20%);
  }
}
