@import '../../styles/colors';
@import '../../styles/utilities';

.homepage {
  text-align: center;

  h1 {
    color: lighten(#000, 20%);
    font-weight: normal;
  }

  button {
    @extend %blue-button;
  }
}
