@import '../../styles/colors';

.event {
  margin: 10px;
  border-bottom: 1px solid $gray-color;
  padding: 15px;

  &:last-child{
    border-bottom: none;
  }

  .date {
    width: 15%;
    display: inline-block;
    margin-right: 20px;
    text-align: center;

    p {
      margin: 0;
      margin-bottom: 7px;
    }
  };

  .info {
    width: 70%;
    display: inline-block;
    border-left: 1px solid $gray-color;
    padding-left: 20px;

    p {
      margin: 0;
      margin-bottom: 10px;
    }

    .time {
      margin-bottom: 10px;
    }

    .delete {
      color: $red-color;
      cursor: pointer;
    }

    .icon {
      width: 14px;
      margin-right: 10px;
    }
  };
};